@font-face {
    font-family: 'MyFont';
    src: url('./Norse-Bold\ \(1\).otf') format('otf');
    font-weight: 600;
  }

body{
    background: url('./backgroundImg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    margin: 0%;
    overflow-x: hidden;
}
header{
    margin: 0%;
    background-color: black;
    opacity:0.9; 
    height: 10lvh;
    display: flex;
    width: 100lvw;
    justify-content: center;
}
nav{
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}
.button{
    color: brown;
    font-family: 'MyFont';
    font-style: italic;
    font-size: 50px;
}
.button:hover{
    color: aliceblue;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100lvw;
}
/* Home Component Style */
#contentBody{
    background-color: black;
    opacity:0.8;
    color: aliceblue;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    padding: 30px;
    font-weight: bolder;
    font-size: 18px;
    line-height: 27px;
}
#contentBody:hover{
    opacity: 0.9;
}
h3{
    color: green;
    font-family: 'MyFont';
    font-style: italic;
    font-size: 40px;
    margin: 0%;
    margin-bottom: 20px;
}

/* Menu Component */
img{
    height: 100px;
    width: 100px;
    margin-right: 20px;
    border: 3px solid brown;
    border-radius: 10px;
}
#menuBody{
    opacity:0.8;
    color: aliceblue;
    width: 95%;
    display: flex;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 18px;
}
#MenuBody{
    margin-top: 30px;
    width: 45%;
    background-color: black;
    opacity:0.8;
    padding: 30px;
}
h4{
    margin-top: 0%;
    font-size: 45px;
    text-align: center;
    color: rgb(161, 231, 19);
}